/* Name: Mehdi Mihr and Christian Favis */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #ccc; 
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    position: relative;
    width: 14.2857%;
    height: 100%;
    border-right: 1px solid #000;
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-align: center; 
    overflow: hidden;
}

ul li:nth-child(1) {
    background-image: url(../images/img1.jpg);
    background-size: cover;
    background-position: left;
}

ul li:nth-child(2) {
    background-image: url(../images/img2.jpg);
    background-size: cover;
    background-position: left;
}

ul li:nth-child(3) {
    background-image: url(../images/img3.jpg);
    background-size: cover;
    background-position: left;
}

ul li:nth-child(4) {
    background-image: url(../images/img4.jpg);
    background-size: cover;
    background-position: left;
}

ul li:nth-child(5) {
    background-image: url(../images/img5.jpg);
    background-size: cover;
    background-position: left;
}

ul li:nth-child(6) {
    background-image: url(../images/img6.jpg);
    background-size: cover;
    background-position: left;
}

ul li:nth-child(7) {
    background-image: url(../images/img7.png);
    background-size: cover;
    background-position: left;
}

ul:hover li {
    width: 10%;
}

ul li:hover {
    width: 40%;
}

ul li .content {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.8);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #fff;
    opacity: 0;
}

ul li:hover .content {
    bottom: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
    opacity: 1;
}